<div class="card text-center">
    <div class="card-header">
        Ejercicio Subneteo
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <b>Subneteo</b>
        </h5>
        <h5 class="card-text">
            <p>El subneteo es una técnica que permite reducir una red en redes más pequeñas (subredes). El subneteo hace que las redes adquieran una mayor claridad y las subredes creadas funcionan de manera independiente.</p>
            <b>Características</b>
            <ul>
                <li>Todas las subredes tienen el mismo tamaño.</li>
                <li>La primera dirección representa al segemento y la última dirección representa al broadcast, por lo que sólo se tienen 2<sup>n</sup>-2 direcciones asignables.</li>
                <li>Se toman prestados bits del ID del host y se emplean para crear una subred.</li>
                <br><br>
            </ul>

            <b>Pasos a seguir</b>
            <ol>
                Se toma una dirección cualquiera, por ejemplo: 192.168.10.0/28.
                Como la dirección IP tiene una máscara por defecto de 24 al ser clase C se necesitan prestarle 4 bits.
                MM = 24 + 4 = 8. <br>
                Su máscara modificada sería: 11111111.11111111.11111111.11110000
                Dejando 4 bits para calular las redes asiganbles. <br>
                Núm. de subredes: 2 <sup>4</sup> = 16 subredes.
                Núm. de hosts: 2 <sub>4</sub> = 16 hosts.
                Pero como la primera dirección se usa para el segmento de red y la última para el broadcast entonces quedamos con 14 subredes y 14 hosts asignables. <br><br>
            </ol>
            <h6>
                <b>Crea tu propio subneteo con base en una dirección IP a partir de # de subredes y hosts o con la
                    máscara de subred</b>
            </h6>
            <form class="form-group" [formGroup]="dirIP">
                
            <alert></alert>
            <div class="row">
                <div class="col-sm-12 col-md-6 center">
                        <label>1.- Insertar dirección IP: <input class="form-control" type="text" formControlName="ip">
                        </label>
                        <div class="row center">
                                <button [disabled]="ipSet" class="btn btn-success" (click)="crearcuadrossubn(1)"> Subneteo a partir de <br>
                                    #subredes y #hosts</button>
                                <button [disabled]="ipSet" class="btn btn-primary" (click)="crearcuadrossubn(2)"> Subneteo a partir de <br>
                                    la
                                    máscara de subred </button>
                        </div>
                </div>


                <div *ngIf="subnet1" class="col-sm-12 col-md-6 center left-div" >
                    <h5>2.- Asigna # de subredes y hosts:</h5>
                    <label>Número de Subredes: <input class="form-control num" type="number" formControlName="subredes">
                    </label>
                    <br>
                    <label>Número de Hosts: <input class="form-control num" type="number" formControlName="hosts">
                    </label>
                    <br>
                    <button class="btn btn-primary" (click)="subneteo()"> Realizar Subneteo </button>
                </div>

                <div *ngIf="subnet2" class="col-sm-12 col-md-6">
                    <h5>2.- Ingresa máscara de subred:</h5>
                    <label>Máscara: <input class="form-control num" type="number" formControlName="mascara"><!--Se agrego nuevo formControlName: mascara-->
                    </label>
                    <br>
                    <button class="btn btn-primary" (click)="subneteo2()"> Realizar Subneteo</button>
                </div>

                <div *ngIf="showResults" class="col-12 center">
                    <br>
                    <!-- <h6>{{subredes}} subredes con {{hosts}} hosts cada una.</h6>    --> 
                    <p>La red se dividio en {{subredes}} subredes con {{hosts}} hosts cada una.</p>
                    <p>Por lo tanto existen {{subredes -2}} subredes asignables con {{hosts -2}} hosts asignables cada una.</p>
                    <p>Dirección IP <br> {{this.direccion(this.segmentodered(this.octetos, this.clase(this.octetos)))}}  <br> {{dirbin(octetos)}}</p>
                    <p>{{this.mascaras(this.clase(octetos),(subredes))}}</p>
                    <p>Segmento de red <br> {{this.direccion(this.segmentodered(this.octetos, this.clase(this.octetos)))}} <br> {{this.dirbin(this.segmentodered(this.octetos, this.clase(this.octetos)))}}</p>
                    <p>Broadcast <br> {{this.direccion(this.broadcast(this.octetos, this.clase(this.octetos)))}} <br> {{this.dirbin(this.broadcast(this.octetos, this.clase(this.octetos)))}}</p>
                    <p>{{(this.clase(this.octetos))}} Bits ID de Red. <br></p> 
                    <p>{{showlog(subredes,hosts)}}</p>

                    
                    <p [innerHTML] = "this.rangos(this.segmentodered(this.octetos, this.clase(this.octetos)), this.subredes, this.hosts)"></p>
                    <!-- <p>{{this.rangos(this.segmentodered(this.octetos, this.clase(this.octetos)), this.subredes, this.hosts)}}</p>-->
                    <button (click)="reset()" style="width: 100%;" class="btn btn-danger">Resetear</button>
                </div>

            </div>

            
        </form>


        </h5>
        <br>
    </div>

    <div class="card-footer text-muted">
        Facultad de Ingenieria - UNAM - 2020
    </div>
</div>