<div class="card text-center">
    <div class="card-header">
        Ejercicio Subneteo
    </div>
    <div class="card-body">
        <h5 class="card-text">
            <p><font face="Helvetica">Insertar dirección IP: </font><input type="text" id="ip" size="35"></p>
            <button (click) ="crearcuadrossubn()"> <font face="Helvetica"> Subneteo a partir de <br> subredes y hosts </font> </button>
            <button type="button" onclick="crearcuadrossubn2()"> <font face="Helvetica"> Subneteo a partir de <br> la máscara de subred </font> </button>
            <div id="opciones">Opciones</div>
            <div id = "resultado">Resultado</div>
            <button (click) ="subn()"> <font face="Helvetica"> Aceptar</font> </button>
           
        </h5>
        <br>
    <div class="card-footer text-muted">
        Facultad de Ingenieria - UNAM - 2020
    </div>
</div>

<!--Scripts--> 
<script src="pages/subneteo/subneteo.component.ts"></script> 
C:\Users\alfa_\Documents\GitHub\proyecto_redes\src\app\pages\subneteo
