<div class="card text-center">
    <div class="card-header">
        Sumarización de rutas
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <b>Superneteo o sumarización de rutas</b>
        </h5>
        <div class="card-text">
            <p>El superneteo es una técnica que permite agrupar múltiples rutas IP contiguas en una única ruta.</p>
            <b>Ventajas</b>
            <ul>
                <li>Reduce el volumen de información de enrutamiento publicado.</li>
                <li>Reduce la complejidad de las tablas de enrutamiento, reduciendo la cantidad de rutas.</li>
                <li> Aumenta la estabilidad de las tablas de ruteo.</li>
                <li>Reduce los requirimientos de procesamiento ya que minimiza los procedimientos de actualización de
                    rutas y se reduce la cantidad de rutas a evaluar.</li>
            </ul>
            <p>Para aplicar este método la direcciones IP deben ser <b>contiguas</b><br>
                Esta técnica es utilizada por los ISP (Proveedores de servicios de Internet)
            </p>
            <b>Pasos a seguir</b>
            <ol>
                <li>Verificar que las direcciones IP de las redes sean contiguas.</li>
                <li>Posteriormente se ordenan de las direcciones IP de menor a mayor.</li>
                <li>Cada dirección se convierte a binario.</li>
                <li>Se toma la cadena de bits que es idéntica en todas las direcciones.</li>
                <li>Interpretar esta cadena como la dirección IP de la red y su respectiva máscara.</li>
            </ol>
            <h6>
                <b>Aprende a sumarizar rutas con tus propios ejemplos</b>
            </h6>
        </div>
        <form>
            <div class="form-group">
                <div style="display:flex;">
                    <label for="exampleFormControlInput1">Introuce el número de direcciones IP que deseas
                        sumarizar</label>
                    <input type="number" class="form-control" style="margin-left: 5%;width: 20%;"
                        id="exampleFormControlInput1" placeholder="0">
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer text-muted">
        Facultad de Ingenieria - UNAM - 2020
    </div>
</div>