<div class="card text-center">
    <div class="card-header">
        Sobre este proyecto
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <b>Facultad de Ingeniería - UNAM</b>
            <br><img src="https://www.ssa.ingenieria.unam.mx/img/encabezado/logo-fi.png"
                alt="Facultad de Ingeniería"><img src="https://www.c3.unam.mx/image/logoUnam.png" alt="UNAM">
            <br><b>Asignatura:</b> Redes de Datos Seguras
            <br><b>Grupo:</b> 1
            <br><b>Semestre:</b> 2020-2
            <br><b>Temas:</b> Subneteo y Sumarización
            <br><b>Profesora:</b> M.C. Cintia Quezada Reyes</h5>
        <h5 class="card-text">
            <b>Equipo:</b>
            <br>Patricio Jaime Porras
            <br>Thomas Alejandro Arias Pelayo
            <br>Martín Valdivia Franco
            <br>
        </h5>
        <br>
        <a href="https://github.com/jppatricio/proyecto_redes" target="_blank" class="btn btn-primary">Ver proyecto en
            Github <span class="fa fa-github  ml-3"></span></a>
    </div>
    <div class="card-footer text-muted">
        Facultad de Ingenieria - UNAM - 2020
    </div>
</div>